 <section class="page-title-area">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="page-title text-center">
                                <h1>Your Donation Helps</h1>
                            </div>
                            <div class="breadcumb-area  text-center">
                                <ol class="breadcrumb">
                                    
                                    <li class="active">Instafamous The Movie</li>
                                </ol>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </section>
            <!-- End page title -->
            <!-- Start about content area -->
            <section class="about-content-area pt-90 pb-60">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="about-content">
                                <!-- Start section title -->
                                <div class="section-title text-center">
                                    <h2>Thank <span>You</span></h2>
                                    <%= image_tag("title-bottom.png", alt:" ")%>
                                    
                                </div>
                                <!-- End section title -->
                                <p>Lorem ipsum dolor sit amet, consectetur adipi elit. Cras mollis ligula mauris, vitae porttitor nunc maximus Integer fringilla place acLorem ipsum dolor sit amet, consectetur adipiscing elit. Cras  mauris, vitae porttitor nunc maximus a. Integer fringilla placerat leo ac bibendum. Quisque et neque eu magna cula pellentesque. Nam volutpat scelerisque tellus, vel ultrices arcu blandit vel. Curabitur semper cursus nulla, et accumsan nisl eleifend a. Integer vitae nisi quis arcu vehicula pharetra ac blandit purus. </p>
                                <p>Etiam ut erat et nisi pulvinar accumsan. Curabitur imperdiet at sem vel elementum. Sed eget vestibulum purus. Quisque rhoncus leo vitae sem scelerisque varius.</p>
                                <div class="col-md-6">
      
     
    </div>
                            


                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="about-image">
                            <%= image_tag("about.png", alt:"")%>
                               
                            </div>
                        </div>
                    </div>
                </div>
            </section>







  



